{% extends "shop/base.html" %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="about">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center"> 
            <div class="col-md-6">
                <div class="titlepage text_align_left">
                    <h2>About Our Honey</h2>
                    <p>Our honey is more than just a sweet treat—it's a testament to the hard work of our bees and the dedication of our team. We source our honey from the finest hives, ensuring every drop is pure and natural.</p>
                    <p>Our mission is to provide you with honey that is not only delicious but also crafted with care. We adhere to strict quality standards to make sure you get the best honey possible. From the hive to your table, we ensure that every step of the process is handled with expertise and passion.</p>
                    <p>Explore our range of honey products and discover the unique flavors and health benefits they offer. Whether you're looking for a rich, dark honey or a light, floral variety, we have something for every palate.</p>
                    <p>Thank you for choosing us and for supporting our commitment to quality and sustainability.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_img text_align_center">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
