{% extends "shop/base.html" %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
<div class="about">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center"> 
            <div class="col-md-6">
                <div class="titlepage text_align_left">
                    <h2>About Our Honey</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
                    <a class="read_more" href="{% url 'about' %}">Read More</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_img text_align_center">
                    <figure>
                        <img class="img_responsive" src="{% static 'shop/images/about.png' %}" alt="About Us" style="max-width: 100%; height: auto;">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
